.headerAppBar {
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 0 !important;

  .headerToolBar {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--linearBg);
    padding-inline: 24px;
  }

  .headerLogoBox {
    display: flex;
    align-items: center;
    > button:hover {
      background-color: transparent;
    }

    .logoButton {
      padding-block: 4px 2px;
      .headerLogo {
        width: auto;
        max-height: 58px;
        margin-inline-start: 8px;
      }
    }

    .headerName {
      font-weight: 800;
      font-size: 20px;
      line-height: 40px;
      margin-inline-start: 10px;
    }

    @media (max-width: 600px) {
      .headerLogo {
        max-height: 50px;
        margin-inline-start: 8px;
      }
    }
  }

  .headerBox {
    .menuIcon {
      > svg {
        height: 30px;
        width: 30px;
      }
    }

    .logoutButton {
      background-color: var(--textColor);
    }

    @media (max-width: 600px) {
      .menuIcon {
        > svg {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
