.headerAppBar {
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 0 !important;

  .headerToolBar {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--linearBg);
  }

  .headerLogoBox {
    display: flex;
    align-items: center;
    > button:hover {
      background-color: transparent;
    }

    .headerLogo {
      height: "40px";
      margin-inline-start: "8px";
    }

    .headerName {
      font-weight: 800;
      font-size: 20px;
      margin-inline-start: 10px;
    }

    @media (max-width: 600px) {
      .headerLogo {
        height: "40px";
        margin-inline-start: "8px";
      }
    }
  }

  .headerBox {
    .menuIcon {
      > svg {
        height: 30px;
        width: 30px;
      }
    }

    @media (max-width: 600px) {
      .menuIcon {
        > svg {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
